<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="container-fluid">
    <h1 class="display-1 text-orange text-center">Viola</h1>
    <p class="text-center text-white h4">
      Reach the world with just the click of a button.
      Push any product or service and reach intended market audience.
    </p>
    <p class="text-center">
      <a href="./download" class="btn btn-orange"><span class="fa fa-arrowdown"></span> Download</a>

    </p>
  </div>
</div>

    <div class="text-center">
      <img class="img-fluid animated infinite bounce delay-2s" src="../../../assets/media-img.jpg" alt="digital marketing">
    </div >
    <div class="pb-4"></div>
    <div class="bg-light">
    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="pt-5"></div>
        <div class="row">
          <div cla="col-md-6 col-sm-12">
            <img class="img-fluid mr-0" id="awareness" height="300" width="300" src="../../../assets/digital-awareness.jpg">
          </div>
          <div class="col-md-6 col-sm-12 align-self-center">
            <h5 class="text-orange">Create a digital awareness</h5>
            <p>
              With our application, you can create a digital publication
              of your product on the internet to reach your target audience.
            </p>
            <p>
              Reduce cost both in terms of time and money for advertising
              your product. Focus more on busniess critial needs while your
              product sells in the global market place.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-5"></div>
  </div>
  <div class="row">
      <div class="col-md-8 offset-2">
        <div class="pt-5"></div>
        <div class="row">

          <div class="col-md-6 col-sm-12 align-self-center">
            <h5 class="text-orange">Grow your audience</h5>
            <p>
              Increase the appropriate audience for your product that will
              actually be converted into customers with our linkage of
              your desired social platform.
            </p>
            <p>
              Post once and post everywhere. Your post gets to all your desired
              social platforms and advertising targets such as google adsense, yahoo adverts.
              Break your limitations.
            </p>
          </div>
          <div cla="col-md-6 col-sm-12">
              <img class="img-fluid mr-0" height="300" width="300" src="../../../assets/grow audience.jpg" alt="grow audience" >
            </div>
        </div>
      </div>
    </div>

<div class="pb-5"></div>
<div class="bg-light">
    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="pt-5"></div>
        <div class="row">
          <div cla="col-md-6 col-sm-12">
            <img class="img-fluid mr-0" height="300" width="300" src="../../../assets/social advertising.jpg">
          </div>
          <div class="col-md-6 col-sm-12 align-self-center">
            <div class="">
            <h5 class="text-orange">Social Marketing</h5>
            <p>
              Spread the word about your product in your favourite social platforms
              all at once and start getting returns.
            </p>
            <p>
              We have got you covered on all social platforms. Manage all your accounts
              from one app.
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-5"></div>
  </div>

