<footer class="bg-orange text-white">
  <div class="container">
    <div class="pt-5"></div>
    <div class="row">
      <div class="col-md-4">
        <h4 class="text-center text-dark">Viola</h4>
        <p>
          Strategically designed to suite your product and lifestyle.
          Consumer-centric design to drive your business to a total new level
          of digitalisation and internationalisation.
        </p>
      </div>
      <div class="col-md-4">
          <nav class="nav flex-column">
            <a class="nav-brand">Navigation</a>
              <a class="nav-link active" href="./home"><span class="fa fa-home"></span> Home </a>
              <a class="nav-link" href="./about"> <span class="fa fa-user"></span> About </a>
              <a class="nav-link" href="./download"> <span class="fa fa-arrow-down"></span> Download </a>
              <a class="nav-link" href="./contact"><span class="fa fa-support"></span> Contact</a>
            </nav>
      </div>
      <div class="col-md-4">
          <nav class="nav flex-column">
              <a class="nav-brand">Social</a>
                <a class="nav-link active" href="#"> <span class="fa fa-2x fa-facebook facebook"></span></a>
                <a class="nav-link" href="#"> <span class="fa fa-2x fa-twitter twitter"></span> </a>
                <a class="nav-link" href="#"> <span class="fa fa-2x fa-flickr"></span> </a>
                <a class="nav-link" href="#"> <span class="fa fa-2x fa-pinterest"></span> </a>
              </nav>
      </div>
    </div>
  </div>
  <div class="pb-5"></div>
</footer>

