<div class="pt-5"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-dark text-center">About Viola</h1>
    <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-fluid about-img" src="../../../assets/images-1.jpg" alt="About Image">
    <p>
      Viola is a cumstomer-centric application that tends to target choice audience for
      digital marketing and reach the target group within budget.
    </p>
    <p>
      Push sponsored ads on your selected platforms all at one from one place.
      View real time analytics of your ads and monitor your progress.
      Get feedback from your different campaigns from your selected frameworks
      and reply to them without leaving the app.
    </p>
    <p>
      Gain the power to take your brand to the world with so much easy and
      flexibility. Schedule ad campaigns and leave the rest to <strong>Viola.</strong>
      We have got you covered.
    </p>
    </div>
  </div>
</div>
